<h1 class="h3">Qualify</h1>
<div class="alert alert-warning" *ngIf="qualify == null">
  Something went wrong with qualify results
</div>
<table class="table table-sm table-light" *ngIf="qualify?.length">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Driver</th>
      <th scope="col">Constructor</th>
      <th scope="col">Q1</th>
      <th scope="col">Q2</th>
      <th scope="col">Q3</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="6">
        <app-page-size #pageSize></app-page-size>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr
      *ngFor="
        let result of qualify | slice : 0 : +(pageSize.pageSizeChange | async)!
      "
    >
      <td>{{ result.position }}</td>
      <td>{{ result.Driver | fullName | titlecase }}</td>
      <td>{{ result.Constructor.name | titlecase }}</td>
      <td>{{ result.Q1 || '-' }}</td>
      <td>{{ result?.Q2 ?? '-' }}</td>
      <td>{{ result?.Q3 ?? '-' }}</td>
    </tr>
  </tbody>
</table>
